<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootstrap Site</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="d-flex justify-content-center">
      <h1 class="m-5" id="roomName">Zoom</h1>
    </header>
    <main class="container justify-content-center">
      <div class="container d-flex justify-content-center" id="changeNickBox">
        <input type="text" placeholder="write your name" required />
        <button type="button" class="btn btn-info">닉네임 변경</button>
      </div>
      <div class="container mt-5 mb-5 d-flex justify-content-center">
        <form id="message">
          <input type="text" placeholder="write a msg" required />
          <button type="submit" class="btn btn-primary" id="liveToastBtn">Send</button>
        </form>
      </div>
      <div class="container d-flex justify-content-center">
        <div id="liveToast" class="toast show" role="alert" aria-live="assertive">
          <div class="toast-header">
            <strong class="me-auto">Zoom</strong>
            <small>1 mins ago</small>
            <button type="button" class="btn-close"></button>
          </div>
          <div class="toast-body"></div>
        </div>
      </div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/app.js"></script>
  </body>
</html>
